#include <winver.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904B0"
        {
            VALUE "CompanyName", "Votre Société\0"
            VALUE "FileDescription", "Votre Application SFML\0"
            VALUE "FileVersion", "1.0.0.0\0"
            VALUE "InternalName", "PigFarm\0"
            VALUE "OriginalFilename", "PigFarm.exe\0"
            VALUE "ProductName", "SFML Application\0"
            VALUE "ProductVersion", "1.0.0.0\0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 0x04B0
    }
}
